.navbar-brand {
    font-size: 60px;
}
h2 {
    padding: 20px;
    font-size: 50px;
}
.menu {
    background-color: grey;
}
.navbar {
    background-color: grey;
    border: solid 2px black;
}
#collapseMenu div {
    border: solid 2px black;
    text-align: center;
}
.menu p{
    padding: 20px;
}
.menu{
    border: solid 2px black;
    padding: 0;
    margin-bottom: 6%;
}
.menu h3 {
    text-align: center;
    padding: 10px;
}
.chicken {
    background-color: rgb(155, 70, 13);
}
.beef {
    background-color: brown;
}
.sushi {
    background-color: rgb(98, 29, 151);
}
.menu .chicken {
    border-bottom: solid 2px black;
}
.menu .beef {
    border-bottom: solid 2px black;
}
.menu .sushi {
    border-bottom: solid 2px black;
}
.back {
    margin: 5px;
}
a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}